/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.c-project-panel__swiper-slide {
	border: 1px dotted #f00;
	margin-top: 12px;
	margin-bottom: 12px;
}

.c-project-panel--hints .c-project-panel__title {
	background: #ED684A1C;
}

.c-project-panel__title {
	display: flex;
	align-items: center;
}

.c-project-icon--hints {
	color: #ED684A;
	font-size: 48px;
    width: 48px;
    margin-top: -26px;
}

